@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #F6F6F6;
}

.titulo-destaque {
    color: #22D4FD;
}

.apresentacao {
    padding: 8% 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 83px;
}

.apresentacao__conteudo {
    width: 593px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__heading {
    font-family: 'Krona One', sans-serif;
    font-size: 32px;
    font-weight: 200;
}

.apresentacao__conteudo__paragraph {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.apresentacao__links {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: 'Krona One', sans-serif;
    font-size: 24px;
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 16px;
    width: 381px;
    border: 2px solid #22D4FD;
    border-radius: 8px;
    color: #F6F6F6;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.apresentacao__links__link:hover {
    background-color: #272727;
}

.apresentacao__logoImagem {
    width: 32px;
    height: 32px;
}

.apresetacao__imagem {
    width: 488px;
    height: 550px;
}

.rodape {
    color: #000000;
    background-color: #22D4FD;
    padding: 23.64px;
    font-family: 'Montserrat' sans-serif;
    font-size: 24px;
    text-align: center;
}