@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #2C3639;
    --cor-secundaria: #DCD7C9;
    --cor-terciaria: #A27B5C;
    --cor-hover: #3F4E4F;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    display: flex;
    justify-content: flex-start;
    padding: 2% 0% 0% 12%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--cor-terciaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao {
    padding: 6% 12%;
    display: flex;
    justify-content: space-between;
    gap: 83px;
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__heading {
    text-align: justify;
    font-family: var(--fonte-primaria);
    font-size: 2rem;
    font-weight: 200;
}

.apresentacao__conteudo__paragraph {
    text-align: justify;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}

.apresentacao__links {
    font-family: var(--fonte-secundaria);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 16px;
    width: 23.81rem;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    color: var(--cor-secundaria);
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
}

.apresentacao__logoImagem {
    width: 2rem;
    height: 2rem;
}

.apresetacao__imagem {
    width: auto;
    height: 34.37rem;
    border-radius: 15%;
    border: var(--cor-terciaria) solid 5px;
    transform: scale(0.8);
}

.apresentacao__skills__heading {
    padding-bottom: 32px;
    text-align: center;
    font-family: var(--fonte-primaria);
    font-size: 2rem;
    font-weight: 200;
}

.apresentacao__skills__logos {
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.logoSkills {
    width: 3rem;
    height: 3rem;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 23.64px;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    text-align: center;
}

@media (max-width: 1200px) {
    .apresentacao {
        flex-direction: column-reverse;
        align-items: center;
    }

    .cabecalho {
        justify-content: center;
        padding: 2% 15% 0% 15%;
    }
}